<nav>
  <div class="site-title">
    <a href="/"><h1>BG</h1></a>
    <p>Blog</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
    <li>
      <form action="/blogs/searchResults" method="get">
        <input type="text" name="q" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </li>
  </ul>
</nav>
