<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Me</h2>
      <p>Hello, I'm <strong>Berkay Gediz</strong>.</p>
      <br />
      <p>
        Welcome to my website. I developed this site using technologies like
        <strong>Node.js</strong>, <strong>TypeScript</strong>,
        <strong>Express</strong>, and <strong>MongoDB</strong>.
      </p>
      <br />
      <div class="social-media">
        <a href="https://www.github.com/berkaygediz" target="_blank">
          <img src="/github.svg" alt="github icon" />
        </a>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
